body {
    background-color: #626D58;
}

ul.nav {
    list-style-type: none;
    padding: 50px;
    background-color: #333;
}
/*  edited */
li.nav {
    float: right;
}
/*  edited */
li a.nav{
    display: inline;
    color: #964B00;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.nav:hover {
    color: #0000FF;
}

ul.story {
    list-style-type: none;
    overflow: hidden;
}

li.story {
   border-color: blueviolet;
   background-color: pink;
   border: dashed;
}

li a.story {
    padding: 14px 16px;
    color: black;
    text-decoration: none;
    size: fit-content;
}

li.story:hover {
    border-color: firebrick;
}

li.search {
    float:left;
}
input.search {
    margin-top: 1px;
    background-color: blue;
    color:  white;
}

div.story {
   text-align: center;
}

.newstory {
   text-decoration-style: dotted;
}


.auth {
	color: #BDC667;
    margin-top: 10vh;
}

.h{
	color:#544343;
}

/* edited */
.login {
   background-image: url("turkey.jpeg"); 
   max-width: 100%;
   height: auto;
}
